<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/linearLayout"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical">

    <TextView
        android:id="@+id/springboardTitle"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="30dp"
        android:layout_marginTop="50dp"
        android:layout_marginRight="30dp"
        android:fontFamily="sans-serif-black"
        android:gravity="center_horizontal"
        android:text="Springboard View Example"
        android:textColor="#237A18"
        android:textSize="36sp" />

    <GridView
        android:id="@+id/springboardView"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_marginTop="50dp"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:verticalSpacing="2dp"
        android:horizontalSpacing="2dp"
        android:numColumns="3"
        android:background="@color/colorBorder"/>
</LinearLayout>
