<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhd.milestone2task1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:logo="@drawable/i"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Chapter 1-2-3-->
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Springboard"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Listmenu1"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Gallery"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Skeuomorphism"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Tabmenu"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".ToggleMenu"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SlideDrawer"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Accordion"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SignInForm1"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SignUpForm"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SignInForm2"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".LongForm"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".RegisPersonalization"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SearchForm"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MultiStep1"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MultiStep2"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MultiStep3"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MultiStep4"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".CalculatorForm"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".BasicTable"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".HeaderlessTable"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".HeaderlessTable2"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".GroupedRows"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".VisualIndicator1"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".VisualIndicator2"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".FixedColumn"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".OverviewPlusData"/>
        <!--chapter 4-->
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_3"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_9"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_13"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_39"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_33"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_24"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_43"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure4_53"/>
        <!--chapter 5-->
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_4"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_16"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_19"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_24"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_25"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_27"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_41"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure5_34"/>
        <!--chapter 6-->
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_3"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_17"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_29"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_34"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_35"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_20"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_19"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure6_21"/>
        <!--chapter 7-->
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_4"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_6"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_16"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_23"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_25"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_28"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_32"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".Figure7_36"/>
    </application>

</manifest>